/* Author: Alex Kim */
body {
    background-color: var(--primary-color);
}

p {
    color: white;
    font-size: 12px;
}

h3 {
    color: white !important;
    text-shadow: 0.5px 0.5px 0 black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black;
}

.form-control {
    width: 18rem !important;
}

.btn {
    margin-top: 1rem !important;
}

.btn-card {
    margin-top: 0 !important;
}

.left-queries {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    display: grid
}

div.col-sm>div.container:not(:first-child) {
    margin-top: 1rem;
}

.white {
    color: white !important;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.rec-outfits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 0 5px;
}

.card-text {
    color: black;
}

.card-title {
    font-size: xx-large;
}

.Winter>.card-body {
    background: #E9E3C9;
}

.Fall>.card-body {
    background: #BD3E2F;
}

.Spring>.card-body {
    background: #4A8764;
}

.Summer>.card-body {
    background: #EFFD5F;
}

@media screen and (max-width: 900px) {
    .side-element {
        display: none;
    }

    section.container>h1 {
        font-size: 25px !important;
    }
}