/*Side Navigation Bar*/
/* Author: Alex Kim, Jason Nguyen */
.navbar-side {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7f3e98;
    padding-top: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
.navbar-side a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-family: Georgia, serif;
}

/* Change the color of the links on hover */
.navbar-side a:hover {
    background-color: rgb(100, 181, 191)
}

*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

@media screen and (max-width: 1100px) {
    .navbar-side {
        display: none;
    }

}

.table-container {
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    color:white;
    width:100%;
}

thead,
tbody {
  width: 100%;
}

tbody {
  max-height: 150px;
  overflow: auto;
}

#user-table{
    table-layout: fixed;
    border: 1px solid white;
    width: 800px;
}

#user-table tr{
    width:100%;
}

#user-table td, #user-table th {
    height: 80px;
    width: 120px;
    min-height:80px;
    min-width:120px;
    border-bottom: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 1200px) {
    #user-table{
        width: 650px;
    }

    #user-table td {
        height: 45px;
        width: 45px;
        min-height:45px;
        min-width:45px;
        font-size:12px;
    }
    
}

@media only screen and (max-width: 950px) {
    #user-table{
        width: 500px;
    }

    #user-table td {
        height: 45px;
        width: 45px;
        min-height:45px;
        min-width:45px;
        font-size:12px;
    }
    
}
